input:invalid{
    border-color: red;
    outline: none;
}

input:valid{
    border-color: rgb(0, 255, 4);
    outline: none;
}

input:focus{
    border-color: blue;
    outline: none;
    /* background-color: aqua; */
}